<%= render "shared/content_title", :title => "Register" %>
<%= render "shared/form_error_handling", :item => @user %>

<div class="well span4">
<%= form_for @user do |f| %>
<%= f.label "Username:" %>
<%= f.text_field :username %>
<%= f.label "Time Zone:" %>
<%= f.time_zone_select :time_zone,priority_zones = ActiveSupport::TimeZone.us_zones %>
<%= f.label "Password:" %>
<%= f.password_field :password %>
<%= f.label "Confirm Password:" %>
<%= f.password_field :password_confirmation %>
<br>
<%= f.submit "Submit" %>

<% end %>
</div>
