<b>Profile:</b> <%= @current_user.username %>

<div>
<b> Username: </b> <%= @current_user.username %>
<br>
<b>Time zone: </b> <%= @current_user.time_zone %>
</div> 

<br>

<b> <%= @current_user.username %>'s Activity </b>

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Posts (<%= current_user.posts.size %>)</a></li>
    <li><a href="#tab2" data-toggle="tab">Comments (<%= @current_user.comments.size %>)</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p> <%= render '/shared/display_posts', :obj => @current_user.posts.sort_by{|post|post.sum_votes}.reverse %> </p>
    </div>
    <div class="tab-pane" id="tab2">
      <p>

<%= render '/shared/display_comments', :obj => @current_user %>
