<%= render '/shared/form_error_handling', :item => @comment %>
<%= render '/shared/category_links', :item => @post %>
  

<H1> <%= link_to @post.title,@post.url %> </H1>
<small><%= link_to "[Edit]",edit_post_path %></small></br>
<%= @post.description %> <br>


<H6> Comments: </H6>
<% @post.comments.each do |comment| %>
<div class="well well-small">
<%=comment.body%> <br>
<small>Posted by <%=comment.creator.username unless comment.creator.blank?%></small> <br><br></div>
<%end%>

<%= render '/shared/comment_form' %>

