<h2><%= @category.name %> </h2>



<small>The posts below are related to the <%= @category.name %> category</small>
<table class="table table-striped">
  <tr>
  <th>Votes</th>
  <th>Site</th>
  <th>Description</th> 
  </tr>

<% @category.posts.sort_by{|post|post.sum_votes}.reverse.each do|post| %>
<tr>
<td><%= post.sum_votes%></td>
<td><%= link_to post.title,url_formatter(post.url) %></td>
<td><%= link_to post.description,post_path(post.id)%></td>
</tr>
<% end %>

</table>
