<ul class="nav">

  <li> <%= link_to "Postit!", root_path, :class => 'brand' %> </li>
  <li> <%= link_to 'Trending Posts', posts_path %> </li>

  <% if logged_in? %>
  <div class="nav_item dropdown">
  <li> <%= link_to 'New Post', new_post_path, class: "btn btn-primary" %> </li>
  </div>
  <% end %>

  <li>
    <div class="nav_item dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
        <i class="icon-th-list"></i> Post Categories
        <span class="caret"></span>
      </button>

      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <% Category.all.each do |category| %>
        <li role="presentation"><a role="menuitem" tabindex="-1" href= <%= category_path(category) %> ><%= category.name %></a></li>
        <% end %>

        <li role="presentation" class="divider"></li>
        <% if logged_in? %>
        <li role="presentation"><a role="menuitem" tabindex="-1" href= <%= new_category_path %> >Create new category</a></li>
        <% end %>
      </ul>
    </div>
  </li>






  <% if logged_in? %>
    <li>
      <div class="nav_item dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
          <i class="icon-user"></i><%= " #{current_user.username}" %>
          <span class="caret"></span>
        </button>

        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li>
            <%= link_to user_path(current_user), class: 'nav_item' do %>
              <i class="icon-wrench"></i> Show Profile
             <% end %>
          </li>       
          <li>
            <%= link_to edit_user_path(current_user), class: 'nav_item' do %>
              <i class="icon-pencil"></i> Edit Profile
             <% end %>
          </li>
          <li>
            <%= link_to logout_path, class: 'nav_item' do %>
              <i class="icon-remove"></i> Logout
             <% end %>
          </li>
          
        </ul>
      </div>
    </li>
<% end %>



  <% if !logged_in? %>
  <div class="nav_item"
  <li> <%= link_to 'Sign Up', new_user_path, class: "btn btn-primary" %> </li>
  </div>
  <% end %>

  <% if !logged_in? %>
  <div class="nav_item"
  <li> <%= link_to 'Login', login_path, class: "btn btn-success" %> </li>
  </div>
  <% end %>


</ul> 

