<ul class="nav">

  <li> <%= link_to "Postit!", root_path, :class => 'brand' %> </li>
  <li> <%= link_to 'Trending Posts', posts_path %> </li>

  <% if logged_in? %>
  <li> <%= link_to 'New Post', new_post_path %> </li>
  <% end %>

  <li>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
        Post Categories
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <% Category.all.each do |category| %>
        <li role="presentation"><a role="menuitem" tabindex="-1" href= <%= category_path(category.id) %> ><%= category.name %></a></li>
        <% end %>

        <li role="presentation" class="divider"></li>
        
        <li role="presentation"><a role="menuitem" tabindex="-1" href= <%= new_category_path %> >Create new category</a></li>
      </ul>
    </div>
  </li>
  
  <% if logged_in? %>
    <li> <%= link_to "#{current_user.username}", user_profile_path %> </li>
  <% end %>

  <% if !logged_in? %>
  <li> <%= link_to 'Register', new_user_path %> </li>
  <% end %>

  <% if !logged_in? %>
  <li> <%= link_to 'Login', login_path %> </li>
  <% end %>

  <% if logged_in? %>
  <li> <%= link_to 'Logout', logout_path %> </li>
  <% end %>

</ul> 

